<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="Transmogrifier">
    	<setting type="lsep" label="Caching"/>
    	<setting id="enable_transmogrifier" type="bool" label="Enable Transmogrifier" default="true"/>
        <setting label="Output Directory" type="folder" default="special://userdata/addon_data/service.transmogrifier/downloads" id="save_directory" visible="!eq(-1,false)"/>
        <setting label="Working Directory" type="folder" default="special://userdata/addon_data/service.transmogrifier/work" id="work_directory" visible="!eq(-2,false)"/>
        <setting id="thread_number" type="slider" label="Max Threads" default="5" option="int" range="1,10" visible="!eq(-3,false)"/>
        <setting id="chunk_size" type="labelenum" label="Buffer Size (KB)" values="500|750|1000|1250|1500|1750|2000" default="1500" visible="!eq(-4,false)" />
        <setting id="segment_size" type="labelenum" label="Segment Size (MB)" values="2.5|5|10|15|20|25|50" default="5" visible="!eq(-5,false)"/>
        <setting type="lsep" label="Web Server"/>
        <setting id="enable_webserver" type="bool" label="Enable Webserver" default="true"/>
        <setting id="auth_key" type="text" label="Auth Key" default="0c9d3e4b3b76e5793f7ca4fdc5725c08" visible="false"/>
        <setting id="auth_pin" type="text" label="Pin" default="5867"/>
        <setting label="Port" type="slider" id="control_port" default="8750" range="8000,1,8999" option="int" visible="!eq(-1,false)"/>
        <setting type="lsep" label="General"/>
        <setting id="log_level" type="enum" values="Standard|Verbose" label="Log Level" default="1"/>
        <setting id="database_init" default="false" />
    </category>
</settings>
