<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32020">
        <setting label="Output Directory" type="folder" default="special://userdata/addon_data/service.transmogrifier/downloads" id="save_directory" />
        <setting label="Working Directory" type="folder" default="special://userdata/addon_data/service.transmogrifier/work" id="work_directory" />
        <setting id="database_init" default="false" />
    </category>
</settings>
